@import "vars";
.but {
  &__icon-cart {
    min-width: 55px;
    min-height: 55px;
    padding: 16px;
    position: relative;
    background-image: url("/assets/svg/button-bg.svg");
    &::after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: 17px;
      left: 15px;
      background-repeat: no-repeat;
      background-image: url("/assets/svg/cart.svg");
    }
  }
  &__icon-burger {
    min-width: 55px;
    min-height: 55px;
    padding: 16px;
    position: relative;
    background-color: $default;
    &::after {
      content: "";
      width: 17px;
      height: 2px;
      border-radius: 1px;
      background-color: #000000;
      position: absolute;
      top: 22px;
      left: 19px;
      box-shadow: 0 4px 0 0 #000000, 0 8px 0 0 #000000;
    }
  }
  // size buttons
  &__basic {
    font-size: 18px;
    padding: 20px 35px;
  }
  &__card {
    font-size: 16px;
    padding: 9px 15px;
  }
  &__card-nav {
    font-size: 18px;
    padding: 16px 45px;
  }
  // color buttons
  &__accent {
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: $accent;
    color: #ffffff;
  }
  &__accent-bg {
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: $accent;
    color: #ffffff;
    background-image: url("/assets/svg/button-bg.svg");
  }
  &__white {
    background-color: #ffffff;
  }
}

