@media screen and (max-width: 479px) {
  .banner {
    visibility: hidden;
  }
}

@media screen and (max-width: 991px) {
  .but__icon-burger {
    visibility: visible!important;
  }
  .menu {
    flex-direction: row;
  }
  .nav__list--hide {
    margin-top: 175px;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
  }
}
