@import "vars";
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  .menu__button {
    margin: 0 5px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    &__toggle--active {
      background-color: $accent;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        padding: 16px;
        .nav__link {
          color: $font-color;
          &--active {
            color: $accent;
          }
        }
      }
    }
    &__list--active {
      box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
      visibility: visible!important;
    }
  }
}

.but__icon-burger {
  visibility: hidden;
}
