<div class="menu">
  <a class="menu__order"></a>
  <a class="menu__login"></a>
  <nav class="nav">
    <button class="nav__toggle" [ngClass]="{'nav__toggle--active': isMenuBtn}" (click)="OpenMenu()">
    </button>
    <ul class="nav__list nav__list--hide" [ngClass]="{'nav__list--active': isMenuBtn}">
      <li class="nav__list-item">
        <a class="nav__link--active nav__link" [routerLink]="['/product']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" routerLink="/order">Order</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" routerLink="/company">Company</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" routerLink="/faq">FAQ</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
