<form [formGroup]="categoryForm" (ngSubmit)="Create()" class="form">
  <div class="form-field">
    <label for="name">Название: </label>
    <input type="text" name="name" formControlName="name" />
  </div>
  <div class="form-field">
    <label for="rus_name">Название на русском: </label>
    <input type="text" name="rus_name" formControlName="rus_name" />
  </div>
  <div class="form-field">
    <label for="color">Цвет: </label>
    <input type="text" name="color" formControlName="color" />
  </div>
  <div class="form-field">
    <label for="origin_id">Происхождение: </label>
    <select name="origin_id">
      <option value="1">test1</option>
      <option value="2">test2</option>
    </select>
  </div>
  <div class="form-field">
    <button type="submit">Создать</button>
  </div>
</form>
