.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 3% 140px;
  background-image: url('/assets/svg/banner-bg.svg');
  background-position: 100% 0%;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
}
